@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face{
  src: url(font/Roboto-Medium.ttf);
  font-family: Robmed;
}
@font-face {
  font-family: 'Mikodacs';
  src: url('font/Mikodacs.woff2') format('woff2'),
      url('font/Mikodacs.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraLight.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraLight.otf') format('opentype');
}

body{
  background-color:#191515;
}
:root {
  --bg-image: url('imgpm/BTMcan7.png');
}
body {
  background-image: var(--bg-image);
  position: relative;
  overflow: hidden;
  
}
.vingerg{
  width:100%;
  height:100%;
  position: absolute;
}
h1{
  font-family:'Mikodacs';
  margin-left:50%;
  margin-top:5px;
  color:blanchedalmond;
  text-align: center;
  font-size: 75px;
  position:absolute;
  letter-spacing: 7px;
}
h2{
  font-family:'Pretendard';
  right:37%;
  margin-top:400px;
  color:blanchedalmond;
  text-align: center;
  font-size: 20px;
  position:absolute;
}
.container {
  position: relative;
}
.quote{
  height: 250px;
  width: 500px;
  border-radius: 25px;
  position: absolute;
  background-color: rgba(255, 118, 118, 0.7);
}



