  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
  @font-face{
    src: url(font/Roboto-Medium.ttf);
    font-family: Robmed;
  }
  h6{
    font-family: Robmed;
    color:#191515;
    font-size: 70px;
    text-align: center;
  }
  .intro{
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
    transition: 1s;
  }

  .logo-header{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #191515;
  }

  .logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
  }

  .logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }

  .logo.fade{
    bottom: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
  }
  body{
    background-color:#191515;
    191515
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    
    font-style: normal;
  }
  #yt{
    position: absolute;
    top:3%;
    right:10%;
    width: 60px;
    height: 45px;
  }
  .apage{
    animation: floating 8s infinite cubic-bezier(0.0, 0.0, 1.0, 1.0);
    animation-name: floating;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 400px;
  }
  i{
    z-index: 1;
  }
  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }


  @keyframes floating{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 50px); }
    100%   { transform: translate(0, -0px); }    
  }
  h1{
    font-family: Robmed;
    margin-top:20px;
    color:blanchedalmond;
    text-align: center;
    font-size: 125px;
    letter-spacing:2px;
    transition: 1s;
  }
  h4{
    font-family: Robmed;
    margin-top:20px;
    margin-left:20%;
    position: absolute;
    color:blanchedalmond;
    text-align: center;
    font-size: 125px;
    letter-spacing:2px;
    transition: 1s;
  }
  h4:hover{
    transition: 1s;
    font-size:130px;
    font-size-adjust: 10px;
    letter-spacing: 3px;
  }
  h2{
    font-family: Robmed;
    margin-top:20px;
    color:blanchedalmond;
    text-align: center;
    font-size: 55px;
  }
  p{
    font-family: Robmed;
    margin-top:3px;
    color:blanchedalmond;
    font-size:50px;
  }
  p5{
    font-family: Robmed;
    margin-top:3px;
    color:blanchedalmond;
    font-size:30px;
  }
  p3{
    font-family: Robmed;
    margin-top:3px;
    color:#241e1e;
    font-size:25px;
      text-shadow:
      -2px -2px 0 aliceblue,
      2px -2px 0 aliceblue,
      -2px 2px 0 aliceblue,
      2px 2px 0 aliceblue;  
      text-transform: uppercase;
  }
  h1:hover{
    transition: 1s;
    font-size:150px;
    font-size-adjust: 20px;
    letter-spacing: 7px;
  }
  ::-webkit-scrollbar{
    display:none; 
  }
  .box{
    margin-top:1800px;
    margin-left:50px;
    position: absolute;
    height:100px;
    overflow:hidden;
    top: 10%;
    transition: height 0.5s ease-in;
  }
  .box:hover{
    
    height: 500px;
    background-color: azure;
  }
  .bgf{
    position: absolute;
    padding-top:300px;
  }
  .baox{
    position: absolute;
    transform:translate(130px,-50vh)
  }
  .wrapper {
    max-width: 100%;
    max-height: 1000px;
    overflow: hidden;
  }
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 10s linear infinite;
    
  }
  .marquee p {
    display: inline-block;
    
  }
  .arrow{
    border: solid 10px transparent;
    animation: ease-in-out .75s;
  }

  .arrow:hover{
    border-color: green;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
  @keyframes marquee2 {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(50%, 0, 0);
    }
  }
  h5{
    color: #191515;
    font-size: 1px;
  }
  .bigbox{
    display:flex;
    transform:translate(-10px,0px)
  }
  .mizupic{
    position: absolute;
    transform:translate(130px,0vh);
  }

  .LC{
    filter: grayscale(90%);
    transition:  0.3s ease-in;
  }
  .LC:hover{
    filter: grayscale(0%);
  }

  .LOL{
    filter: grayscale(90%);
    transition:  0.3s ease-in;
  }
  .LOL:hover{
    filter: grayscale(0%);
  }
  .ark{
    filter: grayscale(90%);
    transition:  0.3s ease-in;
  }
  .ark:hover{
    filter: grayscale(0%);
  }
  .ark{
  }

  .box{
    transform:translate(0%,1000px);
  }
  .mizu{

  }
  .wrapper{
    transform:translate(60%,0%) rotate(-30deg); 
  }
  .mizuswrd{
    position: absolute;
    transform:translate(0px,375px);
  }
  .bgfa{
    max-width: 100%;
    max-height: 959px;
    position: absolute;
    transform:translate(-3px,0px);
  }

  .bgft{
    max-width: 100%;
    max-height: 959px;
    position: absolute;
    transform:translate(-3px,0px);
  }
  .thornpic{
    scale:.5;
    transform:translate(2500px,-900px);
    position: absolute;
  }
  .mizuskin{
    position: absolute;
    transform:translate(0px,-30px);
  }
  .bgf{
    position: absolute;
    transform:translate(-3px,4px);
  }
  .mizupic{
    position: absolute;
    max-width: 100%;
    max-height: 110%;
    transform:translate(93%,0%);
  }
  html{
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  section{
    height: 100vh;
    scroll-snap-align: start;
  }
  .music_Box{
    width: 320px;
    height: 70px;
    background-color:#faebd7;
    position: absolute;
    top:3%;
    left:10%;
    border-radius: 10px;
    text-align:left;
    border: 2px solid antiquewhite;
  }
#progress{
  -webkit-appearance: none;
  position: absolute;
  transform:translate(0,-50%);
  width: 60%;
  height: 6px;
  background:#191515;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}
#progress::-webkit-slider-thumb{
 -webkit-appearance: none;
 background:#241e1e;
 width:15px;
 height:15px;
 border-radius: 50%;
 border: 8px soild #faebd7;
 box-shadow: 0px 0px 5px rgba(25, 21,21,0.5);
}